.payment{
    margin: 150px 0 150px 0;
    width: 100%;
    .payment-grid{
        display: flex;
        justify-content: center;
        width: 100%;

        .flip-card{
            width: 500px;
            height: 300px;
            perspective: 1000px;
            
            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
                box-shadow: 5px 20px 50px #000;
                border-radius: 50px;


            }

            .flip{
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                background:linear-gradient(45deg,blueviolet,deeppink);
                border-radius: 50px;

            }
            .flip-card-front {
                width: 100%;
                .card{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin-top: 50px;
                    .visa{
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        color: rgba(0, 0, 173, 0.808);
                        font-size: 30px;
                        font-weight: bold;
                        transform: skewX(-20deg);
                    }
                }
                .card-number{
                    margin-top: 30px;
                    p{
                        font-size: 20px;
                        height: 10px;
                        font-weight: bold;
                    }
                }
                .card-name-expiration{
                    display: flex;
                    justify-content: space-between !important;
                    padding: 0 50px;
                    margin-top: 70px;

                    .card-name{
                        display: flex;
                        flex-direction: column;
                        // overflow-x: scroll;
                        // overflow: hidden;
                        // width: 200px;
                        .name{
                            font-size: 10px;
                            margin-left: 25px;
                            text-transform: uppercase;
                        }
                        span{
                            
                            font-weight: bold;
                            font-size: 15px;
                        }
                    }
                }
            }

            .flip-card-back {

                transform: rotateY(180deg);
                width: 100%;
                .black-line{
                    margin-top: 50px;
                    width: 100%;
                    background-color: black;
                    height: 50px;
                }
                .cvv-card{
                    width: 80%;
                    text-align: right;
                    margin: auto;
                    margin-top: 50px;
                    span{
                        color: white;
                    }
                }
                .white-line{
                    display: flex;
                    align-items: center;
                    padding-right: 10px;
                    justify-content: flex-end;
                    background-color: white;
                    height: 50px;
                }
            }
        }
        // .flip-card{
        //     width: 500px;
        //     height: 300px;
        //     background:linear-gradient(45deg,blueviolet,deeppink);
        //     border-radius: 50px;
        //     box-shadow: 5px 20px 50px #000;
        //     perspective: 1000px;

        //     &:hover .flip-card-inner {
        //         transform: rotateY(180deg);
        //     }
        //     .flip-card-inner {
        //         position: relative;
        //         width: 100%;
        //         height: 100%;
        //         transition: transform 0.6s;
        //         transform-style: preserve-3d;

        //         .flip-card-front, .flip-card-back {
        //             position: absolute;
        //             -webkit-backface-visibility: hidden;
        //             backface-visibility: hidden;
        //         }

        //         .flip-card-back{
        //             transform: rot;
        //         }
        //     }


            
            

        // }

    }
}




.credit-form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;

        padding: 50px;
        .credit-common{
            display: flex;
            flex-direction: column;
            width: 100%;
            


            label{
                margin-bottom: 10px;
            }
            input{
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                font-size: 15px;
                font-weight: bold;
                border: 1px solid grey;

                &:hover{
                border: 1px solid grey;

                }
            }


            .label-common{
                padding-left: 5px;
                text-transform: uppercase;
                font-size: 12px;
            }
            select{
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 10px;
                border: 1px solid #a1a1a1ab;
                margin-top: 5px;
               
            }
            
        }
        .year-months-cvs{
            display: grid;
            grid-template-columns: repeat(3,100px);
            justify-content:space-between;
            margin: 20px 0 20px 0;
          
            .cvv{
                display: flex;
                flex-direction: column;
                
            }
            #cvv-id{
                border-radius: 0;
                padding: 10px;
                border-color: #a1a1a1ab;

            }

        }
        .credit-submit{
            width: 100%;
            margin-top: 20px;
            .form-submit{
                background:linear-gradient(45deg,blue,deeppink);
                width: 100%;
                padding: 10px;
                font-size: 20px;
                color: white;
                border-radius: 15px;
        
            }
        }
    }
}


.card-error{
    margin-top: 5px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.credit-card{
    perspective: 1000px;
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }
      &:hover .flip-card-inner{
        transform: rotateY(180deg);
      }

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
      }
}


@media screen and (max-width:400px) {
    .credit-form form{
        width: 300px !important;
    }
    // .card-name{
    //     margin-top: 5px !important;
    // }
    .card-name .name{
        font-size: 13px !important;
    }
    .card-name span{
        font-size:  16px !important;
    }
    .year-months-cvs{
        grid-template-columns: 100% !important;
    }
}